buoi6_LeVanDinh/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>


<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="catalog">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="categories" type="categoriesType"></xs:element>
                <xs:element name="products" type ="productsType"></xs:element>
            </xs:sequence>
        </xs:complexType>
            <xs:key name="categoryKey">
            <xs:selector xpath="categories/category"/>
            <xs:field xpath="@id"/>
        </xs:key>
        <xs:keyref name="categoryRefKey" refer="categoryKey">
            <xs:selector xpath="products/product"/>
            <xs:field xpath="@categoryRef"/>
        </xs:keyref>
    </xs:element>

    <xs:complexType name="categoriesType">
        <xs:sequence>
            <xs:element name="category" type="categoryType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="categoryType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="id" type="xs:string" use="required"></xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="productsType">
        <xs:sequence>
            <xs:element name="product" type="productType" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="productType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"></xs:element>
            <xs:element name="price" type="priceType"></xs:element>
            <xs:element name="stock" type="xs:int"></xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"></xs:attribute>
        <xs:attribute name="categoryRef" type="xs:string" use="required"></xs:attribute>
    </xs:complexType>
    <xs:complexType name="priceType">
        <xs:simpleContent>
            <xs:extension base="xs:decimal">
                <xs:attribute name="currency" type="xs:string" use="required"></xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

</xs:schema>
