buoi2_LeVanDinh/benhvien.dtd

<!ELEMENT hospital (app:appointment*)>
<!ELEMENT app:appointment (pat:patient, doc:doctor)>
<!ELEMENT pat:patient (pat:name, pat:dob)>
<!ELEMENT doc:doctor (doc:name, doc:specialty)>
<!ELEMENT pat:name (#PCDATA)>
<!ELEMENT pat:dob (#PCDATA)>
<!ELEMENT doc:name (#PCDATA)>
<!ELEMENT doc:specialty (#PCDATA)>

<!ATTLIST app:appointment
    id ID #REQUIRED
    date CDATA #REQUIRED
    status CDATA #REQUIRED
>

<!ATTLIST pat:patient
    id ID #REQUIRED
>

<!ATTLIST doc:doctor
    id ID #REQUIRED
>