buoi3_LeVanDinh/order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="orders">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="order" type="orderType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
        
        <!-- Ràng buộc duy nhất cho tất cả các id của order trong toàn bộ tài liệu -->
        <xs:unique name="uniqueOrderId">
            <xs:selector xpath="order"/>
            <xs:field xpath="@id"/>
        </xs:unique>
    </xs:element>

    <xs:complexType name="orderType">
        <xs:sequence>
            <xs:element name="product" type="productType" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>

    <xs:complexType name="productType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="quantity" type="xs:positiveInteger"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>

</xs:schema>