buoi3_LeVanDinh/student_unique.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="students">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="student" type="studentType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="uniqueStudentID">
            <xs:selector xpath="student"/>
            <xs:field xpath="id"/>
        </xs:unique>
        <xs:unique name="uniqueStudentEmail">
            <xs:selector xpath="student"/>
            <xs:field xpath="email"/>
        </xs:unique>
    </xs:element>

    <xs:complexType name="studentType">
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>